.calendar-wrapper {
  width: 100%;
}

.calendar-wrapper .item{
  border: 2px solid orange;
  min-width: 80px;
  height: 40px;
  padding: 10px;  
}

.calendar-wrapper td {
  position: relative;
}

.calendar-wrapper .value-day {
  position: absolute;
  top: 10px;
  left: 10px;
}

.calendar-wrapper .item.item-draggable {
  border: 2px solid orange;
  color: #222222;
}

.calendar-wrapper .item.item-disabled {
  border: 2px solid #cccccc;
  color: #cccccc;
}

.user-item {
  padding: 20px;
  border: 1px solid orange;
}

.users-wrapper {
  overflow: auto;
  font-size: 12px;
  height: 100%;
  padding-left: 20px;
}