header {
  background: #222222;
  color: #ffffff;
  width: 100%;
  padding: 20px;
}

.container {
  display: flex;
  flex-direction: row;
  margin: 0 20px;
}

.content {
  flex: 1 1 auto;
  margin: 20px;
}

.aside {
  width: 200px;
  margin: 20px;
}